<div class="text-center">

    <div [hidden]="isPolicyAccepted">
        <div class="mt-4 mb-4 text-center">
            <svg class="icon-gold" width="60" height="60">
                <use xlink:href="#logo"></use>
            </svg>
        </div>
        <app-privacy-policy (accept)="acceptPolicy()"></app-privacy-policy>
    </div>

    <div [hidden]="!isPolicyAccepted">

        <!-- MASTER PASSWORD -->
        <div *ngIf="currentTab === 'setPassword'">

            <h5>Master password</h5>
            <div class="mt-3 explanation">Protect your Mint Lite Wallet extension from unauthorized access.</div>

            <form #createForm="ngForm" (ngSubmit)="setPassword()">
                <div class="mt-3">
                    <div class="row text-left">
                        <div class="col-12">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder='Password' name="new-password" #newPass="ngModel" [ngClass]="{'is-invalid': newPass.invalid && newPass.dirty}" [(ngModel)]="newPassword" (ngModelChange)="checkNewPassword()" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$">
                                <div class="invalid-feedback" *ngIf="newPass?.errors?.required">
                                    Field is required
                                </div>
                                <div class="invalid-feedback" *ngIf="newPass?.errors?.pattern">
                                    Passwords must be at least 6 characters long and must contain at least one digit, one upper and one lower case letter
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder='Repeat password' name="repeat-password" #repeatPass="ngModel" [ngClass]="{'is-invalid': (incorrectRepeatPass || repeatPass.invalid) && repeatPass.dirty }" [(ngModel)]="repeatPassword" (ngModelChange)="checkNewPassword()" required>
                                <div class="invalid-feedback" *ngIf="repeatPass?.errors?.required || incorrectRepeatPass">
                                    Repeat password please
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12 text-center ">
                            <button type="submit" class="btn btn-sm btn-primary btn-block" [disabled]="createForm?.invalid || loading || incorrectRepeatPass">
                                Protect
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- CONFIRM MASTER PASSWORD -->
        <div *ngIf="currentTab === 'confirmPassword'">

            <h5>Attention!</h5>
            <div class="mt-3 explanation">
                Keep master password in a safe place or just write it down to the paper.
            </div>
            <div class="mt-3 explanation">
                You will <span class="text-danger">lose access to your accounts</span> once you lose your master password.
            </div>

            <div class="row mt-3">
                <div class="col-6 text-center">
                    <div class="d-flex">
                        <button type="button" class="btn btn-sm btn-primary btn-block" (click)="changeTab('setPassword')">
                            Back
                        </button>
                    </div>
                </div>
                <div class="col-6 text-center">
                    <div class="d-flex">
                        <button type="button" class="btn btn-sm btn-primary btn-block" (click)="beginAddressGeneration()">
                            Got it
                        </button>
                    </div>
                </div>
            </div>
        </div> 
        
        <!-- NEW ADDRESS -->
        <div *ngIf="currentTab === 'newAddress'">
            <app-new-address 
                [identity]="currentIdentity"
                (completed)="onAddressCreated()" 
                (cancelled)="onAddressRejected()"
                ></app-new-address>
        </div>
    </div>

</div>