/* You can add global styles to this file, and also import other style files */
.ss-wrapper {
  overflow: hidden;
  height: 100%;
  position: relative;
  z-index: 1;
  float: left;
  width: 100%;
}

.ss-content {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  & {
    scrollbar-width: none;
  }
}

.no-scroll .ss-content {
  width: 100% !important;
}

.ss-scroll {
  background: rgba(0, 0, 0, .1);
  width: 9px;
  border-radius: 4px;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s linear;
  position: absolute;
  left: 271px;
}

.ss-container:hover .ss-scroll {
  opacity: 1;
}

.ss-grabbed {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
