$default-font-size: 16px;

$black: #212121;
$main-color: #1c1c1c;
$gold-color: #e9cb6b;
$green-color: #7ec722;
$gold-color-hover: #fadc7d;
$gold-color-light: #fadc7d;
$color-brand-active: #faf4de;

$color-gray-0: #f5f5f5;
$color-gray-1: #ababab;
$color-gray-2: #7a7a7a;

$border-color: #f5f5f5;
$btn-color: #212529;
$invalid: #dc3545;

$transition-nav-header: all .2s ease-out;
