.address {
	overflow-x: scroll;
	border: 2px dashed #eee;
	font-family: monospace;
    font-size: 16px;
}

.qr-code {
	img {
		border: 2px dashed #eee;
	}
}

div.copy-phrase {
	a {
		font-size: 12px;
		cursor: pointer;
		color: #0093e5;

		&:hover {
			text-decoration: underline;
		}
	}
}