<div class="text-center">
    <h5>Account details</h5>

    <div class="mt-3">
        <div [hidden]="currentView !== view[0]">

            <div class="qr-code text-center">
                <img 
                    src='https://chart.googleapis.com/chart?cht=qr&chs=175x175&chl={{ currentWallet?.publicKey }}' 
                    height="175"
                    width="175"
                    alt="Address QR">
            </div>

            <div class="copy-phrase text-right mt-1"><a (click)="copyAddress()">{{ addressCopied? "Copied": "Copy" }}</a></div>
            <div class="address p-1">{{ currentWallet?.publicKey }}</div>

            <div class="mt-4">
                <button type="button" class="btn btn-sm btn-primary btn-block" (click)="showPrivateKey()">Show Private Key</button>
                <button type="button" class="btn btn-sm btn-primary btn-block mt-3" routerLink="/home/account">Back</button>
            </div>
        </div>

        <div [hidden]="currentView !== view[1]">

            <div class="explanation">
                Keep your private key in secret and <span class="text-danger">do not share it</span> with anyone.
            </div>

            <div class="mt-3 mb-3">
                <input type="password" class="form-control" id="private"
                    #passwordRef
                    [(ngModel)]="password"
                    [ngClass]="{'is-invalid': incorrectPass}"
                    placeholder="Master password"
                    (keyup.enter)="password.length >= 6 && confirm()">
            </div>

            <div class="mt-4">
                <button type="button" class="btn btn-sm btn-primary btn-block" (click)="confirm()" [disabled]="password.length < 6">Show private key</button>
                <button type="button" class="btn btn-sm btn-primary btn-block mt-3" (click)="back()">Back</button>
            </div>
        </div>
        
        <div [hidden]="currentView !== view[2]">

            <div class="explanation">
                Keep your private key in secret and <span class="text-danger">do not share it</span> with anyone.
            </div>

            <div class="copy-phrase text-right mt-1"><a (click)="copyPrivateKey()">{{ privateKeyCopied? "Copied": "Copy" }}</a></div>
            <div class="address p-1">{{ privateKey }}</div>

            <div class="mt-4">
                <button type="button" class="btn btn-sm btn-primary btn-block" (click)="back()">Back</button>
            </div>
        </div>
    </div>
</div>