<div class="mt-3">
    <h4 class="mb-3">Export account</h4>

    <div class="mt-4">
        <form #form="ngForm">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="select-account">Select Account</label>
                        <select class="form-control custom-select" id="select-account" name="wallets" [(ngModel)]="selectAccount">
                            <option [value]="i" *ngFor="let w of wallets; index as i">{{ w?.name }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-12 text-center mt-3">
                    <div class="d-flex">
                        <button type="button" class="btn btn-sm btn-primary w-50 mr-1" routerLink="/home/account">Cancel</button>
                        <button type="button" class="btn btn-sm btn-primary w-50 ml-1" (click)="export()" [disabled]="selectAccount === null">
                            Export
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

