$page_background: #68655d;
$page_material: #434343;
$header_background: #212121;
$header_color: #ccc;
$accent: #e9cb6b;

$extension_width: 300px;
$extension_height: 500px;
$extension_footer_height: 20px;

// ---

// bootstrap overloads
$border-radius: 0px;
$border-radius-lg: 0px;
$border-radius-sm: 0px;
$primary: $accent;
$link-hover-color: lighten($primary, 15%);

.btn {
	text-transform: uppercase;
	letter-spacing: 1px;
	&-primary:hover {
		background-color: lighten($primary, 10%);
		border-color: lighten($primary, 10%);
	}
}

// ---

html, body {
	background: $page_background;
	min-width: $extension_width;
	min-height: $extension_height + $extension_footer_height;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#header {
	background: $header_background;
	color: $header_color;
}
