<h4 class="mb-3">Create new wallet</h4>

<form #createForm="ngForm" (ngSubmit)="submit()">
    <div class="row">
        <div class="col-12 mb-1">
            <div class="form-group">
                <input type="text" class="form-control" placeholder='Account name' name="name-field"
                       #account="ngModel"
                       [ngClass]="{'is-invalid': account.invalid && account.dirty}"
                       [(ngModel)]="accountName"
                       required>
                <div class="invalid-feedback invalid-feedback--abs" *ngIf="account?.errors?.required">
                    Field is required
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <input type="password" class="form-control" placeholder='Password' name="password-field"
                       #password="ngModel"
                       [ngClass]="{'is-invalid': password.invalid && password.dirty}"
                       [(ngModel)]="userPassword"
                       required
                       minlength="6">
                <div class="invalid-feedback invalid-feedback--abs" *ngIf="password?.errors?.required">
                    Field is required
                </div>
                <div class="invalid-feedback invalid-feedback--abs" *ngIf="password?.errors?.minlength">
                    Minimum password length is 6 symbols
                </div>
            </div>
        </div>

        <div class="col-12 text-center mt-3">
            <button type="submit" class="btn btn-sm btn-primary w-100" [disabled]="createForm.invalid">
                Create
            </button>
        </div>
    </div>
</form>