<div class="progress-linear progress-linear--tiny" *ngIf="!isDataLoaded || loading">
    <div class="container"></div>
</div>

<div class="d-flex justify-content-between">
    <div class="open-tab-btn" tooltip="Open scanner" placement="right">
        <a [href]="webWalletLink + currentWallet?.publicKey + (currentNetwork == 'test' ? '?network=testnet' : '')" target="_blank">
            <svg width="20" height="20">
                <use xlink:href="#out"></use>
            </svg>
        </a>
    </div>

    <div>
        <div class="account-name">
            <div [ngStyle]="{'visibility': loading ? 'hidden' : 'visible'}">
              <div class="wallet-status approved" *ngIf="isWalletApproved" title="This address is approved to send GOLD">
                <svg width="20" height="20">
                  <use xlink:href="#approved"></use>
                </svg>
              </div>
              <div class="wallet-status not-approved" *ngIf="!isWalletApproved" title="This address isn't approved. GOLD transactions are forbidden">
                <svg width="20" height="20">
                  <use xlink:href="#not-approved"></use>
                </svg>
              </div>
            </div>

            <div *ngIf="!isEditing" class="account-name-text">
                {{ currentWallet?.name }}
                <div class="edit-account-btn" (click)="!loading && editAccountName()">
                    <svg width="15" height="15">
                        <use xlink:href="#edit"></use>
                    </svg>
                </div>
            </div>
            <div *ngIf="isEditing" class="position-relative">
                <input type="text" class="edit-account-input" [(ngModel)]="accountName">
                <div class="edit-account-save" (click)="saveAccountName()">
                    <svg class="icon-green" width="20" height="20">
                        <use xlink:href="#check"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="account-public-key pointer" tooltip="Copy to clipboard" placement="bottom" (click)="copyText(currentWallet?.publicKey)">
            {{ currentWallet?.publicKey | reduction }}
        </div>
    </div>

    <div class="open-tab-btn" tooltip="Open in tab" placement="left" (click)="openInTab()">
        <svg width="20" height="20">
            <use xlink:href="#tabs"></use>
        </svg>
    </div>
</div>

<div class="mt-3">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <div>
          <span class="token-name">MNT</span>
          <ng-container *ngIf="!isServiceUnavailable">
            {{ balance.mnt | replaceZero }}
            <span class="usd-balance" *ngIf="usdRate.mnt">(${{ balance.mnt * usdRate.mnt | substr:2:true }})</span>
          </ng-container>
          <span class="service-error-message" *ngIf="isServiceUnavailable">Updating...</span>
        </div>
        <button type="button" class="btn btn-sm btn-primary send-btn" routerLink="/home/send-tokens/mnt" [disabled]="loading">Send</button>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <div>
          <span class="token-name">GOLD</span>
          <ng-container *ngIf="!isServiceUnavailable">
            {{ balance.gold | replaceZero }}
            <span class="usd-balance" *ngIf="usdRate.gold">(${{ balance.gold * usdRate.gold | substr:2:true }})</span>
          </ng-container>
          <span class="service-error-message" *ngIf="isServiceUnavailable">Updating...</span>
        </div>
        <button type="button" class="btn btn-sm btn-primary send-btn" routerLink="/home/send-tokens/gold"
                [disabled]="loading || !isWalletApproved"
                [title]="!isWalletApproved ? 'This address isn\'t approved. GOLD transactions are forbidden' : ''">Send</button>
    </div>
</div>

<div class="tx-content">
    <div class="trs-container" [ngClass]="{'no-scroll': !transactionList || transactionList.length <= 6}">
        <div *ngIf="transactionList && transactionList.length && isDataLoaded; else noTx">
            <div *ngFor="let t of transactionList" class="trs-item">
                <a class="d-flex align-items-center justify-content-between"
                   [href]="detailsLink + t.transaction.digest + (currentNetwork == 'test' ? '?network=testnet' : '')" target="_blank">
                    <div>
                        <svg width="15" height="15" class="icon-gold mr-2">
                            <use xlink:href="#export" *ngIf="t.transaction.from === currentWallet.publicKey; else incoming"></use>
                            <ng-template #incoming>
                                <use xlink:href="#import"></use>
                            </ng-template>
                        </svg>

                        <span *ngIf="+t.transaction.amount_gold">{{ t.transaction.amount_gold | replaceZero }} GOLD</span>
                        <span *ngIf="+t.transaction.amount_mnt">{{ t.transaction.amount_mnt | replaceZero }} MNT</span>
                    </div>

                    <span class="tx-status-text">{{ t.status }}</span>
                </a>
            </div>
        </div>

        <ng-template #noTx>
            <div class="no-tx">{{ !isServiceUnavailable ? 'No transactions' : 'Updating...' }}</div>
        </ng-template>
    </div>

    <div class="img-container" *ngIf="banner">
        <a [href]="banner.url" target="_blank">
            <img [src]="banner.image" alt="img">
        </a>
    </div>
</div>
