@import "../../../../assets/styles/variables";

.account-public-key {
  font-size: .75rem;
  color: #aeaeae;
  text-align: center;
}

.trs-container {
  height: 162px;
  width: 100%;
  position: relative;
}

.trs-item {
  font-size: 14px;
  padding: 3px 0;
  text-align: right;

  &:hover {
    background: $color-gray-0;
    cursor: pointer;
  }

  &-date {
    color: $color-gray-2;
  }
}
.no-tx {
  font-size: 14px;
  color: $color-gray-2;
  text-align: center;
  margin-top: 0.5rem;
}

.account-info-empty-el {
  width: 20px;
  height: 20px;
}

.account-name {
  display: flex;
  padding: 0 25px;
  position: relative;
}

.account-name:hover .edit-account-btn {
  display: block;
}

.edit-account-btn {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -1px;
  z-index: 1;
}

.edit-account-input {
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: 2px solid $gold-color;
  margin-bottom: 3px;
  padding: 0 25px 0 0;
}

.edit-account-save {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.account-name-text {
  overflow: hidden;
  max-width: 160px;
  max-height: 48px;
  text-align: center;
}

.token-name {
  min-width: 50px;
  display: inline-block;
}

.tx-status-text::first-letter {
  text-transform: uppercase;
}

.usd-balance {
  font-size: 13px;
  color: $color-gray-2;
}

.service-error-message {
  font-size: 14px;
  color: $color-gray-2;
}

.send-btn {
  min-width: auto;
  padding: 0 9px;
}

.img-container {
  overflow: hidden;
  height: 98px;
  border-top: 2px solid $gold-color;
  text-align: center;
  padding-top: 3px;

  img {
    height: 100%;
  }
}

.tx-content {
  border-top: 2px solid $gold-color;
  margin-top: 22px;
}
