.amount-label {
  position: relative;
  width: 100%;
  font-size: 15px;
  letter-spacing: -0.3px;

  .send-all-btn {
    position: absolute;
    right: 0;
    color: #0093e5;

    &:hover {
      text-decoration: underline;
    }
  }
}
