<div class="mt-3">
    <h4 class="mb-3">Create new account</h4>

    <form #form="ngForm">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <input type="text" class="form-control" id="password-field" placeholder='Account name' name="password-field"
                           #name="ngModel"
                           [ngClass]="{'is-invalid': name.invalid && name.dirty}"
                           [(ngModel)]="accountName"
                           required>
                    <div class="invalid-feedback invalid-feedback--abs" *ngIf="name?.errors?.required">
                        Field is required
                    </div>
                </div>
            </div>

            <div class="col-12 text-center mt-3">
                <div class="d-flex">
                    <button type="button" class="btn btn-sm btn-primary w-50 mr-1" routerLink="/home/account">
                        Back
                    </button>
                    <button type="button" class="btn btn-sm btn-primary w-50 ml-1" (click)="submit()" [disabled]="!accountName.length || loading">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
