<div class="mt-3">
    <h4>Approve address</h4>

    <div class="mt-3 mb-4">
        Address <b>{{ wallet | reduction }}</b> should be approved in order to send or receive GOLD.
    </div>

    <div class="mb-3">
        <a href="https://app.cyberbridge.ee/#/how_to_approve_address" class="d-block" target="_blank">
            <button type="button" class="btn btn-sm btn-primary w-100">Go to cyberbridge.ee</button>
        </a>
    </div>
    <button type="button" class="btn btn-sm btn-primary w-100" routerLink="/home/account">Back</button>
</div>
